@charset "UTF-8";
        #joinmembership:hover{
            color: white;
        }

        #joinmembership{
            text-decoration: none;
            color: black;  
        }
        #pass::placeholder{
            text-align: center;
        }
        #pass2::placeholder{
            text-align: center;
        }
        #newpasssub:hover{
            color: white;
        }