<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nosolorice.app.mappers.sehwa" >
	
	<select id="getBusinessUserInfo" resultType="BusinessUser" resultMap="BusinessUserResultMap">
		SELECT
			*
		FROM business_user 
			WHERE business_id = #{id}
	</select>

	<update id="businessUserInfoUpdate" parameterType="hashMap">
		UPDATE business_user
			SET 
				pass = #{user.pass},
				mobile = #{user.mobile},
				email = #{user.email},
				bank_name = #{user.bankName},
				bank_number = #{user.bankNumber},
				phone = #{user.phone},
				postNum = #{user.postNum},
				address1 = #{user.address1},
				address2 = #{user.address2},
				business_profile = #{user.businessProfile}
			WHERE 
				business_id = #{id}
	</update>
	
	<update id="changeBuserDefaultImg">
		UPDATE business_user
			SET 
				business_profile = NULL
			WHERE 
				business_id = #{id}
	</update>

	<update id="changeNuserDefaultImg">
		UPDATE normal_user
			SET 
				profile = "defaultImg"
			WHERE 
				normal_id = #{id}
	</update>

	<update id="storeDepositUpdate" parameterType="hashMap">
		UPDATE business_user
			SET
				deposit = #{deposit}
			WHERE 
				business_id = #{id}
	</update>
	
	<update id="storeTimeUpdate" parameterType="hashMap">
		UPDATE business_user
			SET
				open_time = #{openTime},
				close_time = #{closeTime},
				break_time = #{breakTime},
				day_off = #{dayOff}
			WHERE	
				business_id = #{id}
	</update>
	
	<update id="storeIntroductionUpdate" parameterType="hashMap">
		UPDATE business_user
			SET
				introduction = #{introduction}
			WHERE
				business_id = #{id}
	</update>
	
	<select id="getBusinessSectors" resultType="BusinessSectors">
		SELECT
			sector_no AS sectorsNo
		FROM business_sector
			WHERE
				business_id = #{id}
	</select>
	
	<insert id="insertBusinessSectors">
		INSERT INTO business_sector(sector_no, business_id)
			VALUES(#{sectorsNo}, #{id})
	</insert>
	
	<delete id="deleteBusinessSectors">
		DELETE FROM business_sector
			WHERE
				business_id = #{id}
	</delete>
	
	
	
	<select id="getCurrentBooking" resultType="int">
		SELECT 
			bu.booking_no AS bookingNo
	 	FROM 
	 		booking_userlist bu, booking b
	 	WHERE
			bu.booking_no = b.booking_no
               AND bu.normal_id = #{id}
 			AND booking_state = '승인'
	</select>
	
	<select id="getCurrentBookingMember" parameterType="hashMap" resultType="String">
		SELECT
			normal_id AS normalId
		FROM booking_userlist
	 		WHERE
	 			booking_no = #{no}
	 			AND NOT normal_id = #{id}
	</select>
	
	<select id="getBookingDetail" resultType="Booking" resultMap="BookingResultMap">
		SELECT
			*
		FROM booking
			WHERE
				booking_no = #{no}
	</select>
	
	<select id="getNormalUserInfo"  resultType="NormalUser" resultMap="NormalUserResultMap">
		SELECT
			*
		FROM normal_user
			WHERE 
				normal_id = #{id}
	</select>
	
	<select id="getVisitantUserListNo" resultType="int">
		SELECT
			bookingok_no
		FROM 
			visitant_userlist
		WHERE 
			normal_id = #{id}
			AND visitant_blind IS NULL
		ORDER BY
			bookingok_no DESC
	</select>

	<select id="getVisitantUserList" resultType="int">
		SELECT
			bookingok_no
		FROM 
			visitant_userlist
		WHERE 
			normal_id = #{id}
			AND visitant_blind IS NULL
		ORDER BY
			bookingok_no DESC
		LIMIT
			#{start}, #{PAGE_SIZE}
	</select>
	
	<select id="getVisitantUserListMember" parameterType="hashMap" resultType="string">
		SELECT
			normal_id
		FROM visitant_userlist
			WHERE
				bookingok_no = #{no}
	 			AND NOT normal_id = #{id}
	</select>
	
	<select id="getVisitantBookingDetail" resultType="BookingOk" resultMap="BookingOkResultMap">
		SELECT
			*
		FROM bookingok
			WHERE
				bookingok_no = #{no}
	</select>
	
	<select id="getReview" resultType="Review" resultMap="ReviewResultMap">
		SELECT
			*
		FROM review
			WHERE
				normal_id = #{normalId}
				AND bookingok_no = #{bookingOkNo}
	</select>
	
	<delete id="deleteReview">
		DELETE FROM review
			WHERE 
				review_no = #{no}
	</delete>
	
	<select id="getNormalUserPass" resultType="string">
		SELECT 
			pass 
		FROM normal_user 
			WHERE normal_id = #{id}
	</select>
	
	<update id="updateNormalUserInfo" parameterType="NormalUser">
		UPDATE normal_user
			SET
				name = #{name},
				nickname = #{nickName},
				pass = #{pass},
				birth = #{birth},
				mobile = #{mobile},
				email = #{email},
				postnum = #{postNum},
				address1 = #{address1},
				address2 = #{address2},
				profile = #{profile}
			WHERE	
				normal_id = #{normalId}
	</update>
	
	
	

	<insert id="insertReview" parameterType="Review">
		INSERT INTO review(review_content, review_picture, review_score, regdate, normal_id, business_id, bookingok_no)
			VALUES(#{reviewContent}, #{reviewPicture}, #{reviewScore}, SYSDATE(), #{normalId}, #{businessId}, #{bookingOkNo})
	</insert>
	
	<insert id="insertReport" parameterType="ReportDetails">
		INSERT INTO report_details(report_reporter, report_attacker, report_content, report_picture, report_regdate)
			VALUES(#{reportReporter}, #{reportAttacker}, #{reportContent}, #{reportPicture}, SYSDATE())
	</insert>

	<insert id="insertBlocker" parameterType="hashMap">
		INSERT INTO block_history(blocker, block_attacker, block_date, block_state)
			VALUES(#{blocker}, #{attacker}, SYSDATE(), '차단')
	</insert>
	
	<update id="visitantBlind" parameterType="hashMap">
		UPDATE visitant_userlist
			SET
				visitant_blind = 1
			WHERE
				normal_id = #{id}
				AND bookingok_no = #{no}
	</update>
	
	<insert id="rechargePoint" parameterType="hashMap">
		INSERT INTO point_recharge (normal_id, payment_method, charge_amount, charge_point, charge_date)
			VALUES(#{id}, #{payment}, #{amount}, #{point}, SYSDATE())
	</insert>
	
	<update id="updateMyPoint">
		UPDATE normal_user
			SET
				mypoint = mypoint  + #{point}
			WHERE
				normal_id = #{id}
	</update>
	
	<select id="chargePointList" resultType="PointRecharge">
		SELECT 
			point_recharge_no AS pointRechargeNo,
			normal_id AS normalId,
			payment_method AS paymentMethod,
			charge_amount AS chargeAmount,
			charge_point AS chargePoint,
			charge_date AS chargeDate
		FROM point_recharge
			WHERE 
				normal_id = #{id}
			ORDER BY
				point_recharge_no DESC
	</select>
	
	<select id="chargePointListPage" parameterType="hashMap" resultType="PointRecharge">
		SELECT 
			point_recharge_no AS pointRechargeNo,
			normal_id AS normalId,
			payment_method AS paymentMethod,
			charge_amount AS chargeAmount,
			charge_point AS chargePoint,
			charge_date AS chargeDate
		FROM point_recharge
			WHERE 
				normal_id = #{id}
			ORDER BY
				point_recharge_no DESC
			LIMIT
				#{start}, #{PAGE_SIZE}
	</select>
	
	<select id="usePointList" resultType="PointHistory">
		SELECT 
			p.history_date AS historyDate, 
			p.history_point AS historyPoint,
			bu.business_name AS businessId, 
			p.normal_id AS normalId
		FROM point_history p, business_user bu
			WHERE 
				p.business_id = bu.business_id
    			AND p.normal_id = #{id}
	</select>
	
	<select id="usePointListPage" parameterType="hashMap" resultType="PointHistory">
		SELECT 
			p.history_date AS historyDate, 
			p.history_point AS historyPoint,
			bu.business_name AS businessId, 
			p.normal_id AS normalId
		FROM point_history p, business_user bu
			WHERE 
				p.business_id = bu.business_id
    			AND p.normal_id = #{id}
    		LIMIT
				#{start}, #{PAGE_SIZE}
	</select>

	<select id="checkNormalNickName" resultType="NormalUser" resultMap="NormalUserResultMap">
		SELECT
			*
		FROM
			normal_user
		WHERE
			nickName = #{nickName}
	</select>
	
	<delete id="deleteBusinessUser">
		DELETE FROM business_user
			WHERE
				business_id = #{id}
	</delete>
	
	<delete id="deleteNormalUser">
		DELETE FROM normal_user
			WHERE
				normal_id = #{id}
	</delete>
	
	
	
	
	
	
	
	

	<resultMap type="BusinessUser" id="BusinessUserResultMap">
		<id property="businessId" column="business_id"/>
		<result property="pass" column="pass"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="businessNumber" column="business_number"/>
		<result property="businessName" column="business_name"/>
		<result property="businessPicture" column="business_picture"/>
		<result property="email" column="email"/>
		<result property="mobile" column="mobile"/>
		<result property="postNum" column="postnum"/>
		<result property="address1" column="address1"/>
		<result property="address2" column="address2"/>
		<result property="xpoint" column="xpoint"/>
		<result property="ypoint" column="ypoint"/>
		<result property="businessProfile" column="business_profile"/>
		<result property="bankName" column="bank_name"/>
		<result property="bankNumber" column="bank_number"/>
		<result property="deposit" column="deposit"/>
		<result property="openTime" column="open_time"/>
		<result property="closeTime" column="close_time"/>
		<result property="breakTime" column="break_time"/>
		<result property="dayOff" column="day_off"/>
		<result property="introduction" column="introduction"/>
		<result property="regDate" column="regdate"/>
		<result property="storeOnoff" column="store_onoff"/>
		<result property="okNoOk" column="ok_nook"/>
	</resultMap>

	<resultMap type="Booking" id="BookingResultMap">
		<id property="bookingNo" column="booking_no"/>
		<result property="bookingCount" column="booking_count"/>
		<result property="bookingRequest" column="booking_request"/>
		<result property="bookingTime" column="booking_time"/>
		<result property="bookingState" column="booking_state"/>
		<result property="bookingBookNo" column="booking_book_no"/>
		<result property="businessId" column="business_id"/>
		<result property="bookingChatName" column="booking_chatname"/>
	</resultMap>
	
	<resultMap type="NormalUser" id="NormalUserResultMap">
		<id property="normalId" column="normal_id"/>
		<result property="pass" column="pass"/>
		<result property="name" column="name"/>
		<result property="birth" column="birth"/>
		<result property="nickName" column="nickname"/>
		<result property="mobile" column="mobile"/>
		<result property="profile" column="profile"/>
		<result property="postNum" column="postnum"/>
		<result property="address1" column="address1"/>
		<result property="address2" column="address2"/>
		<result property="xpoint" column="xpoint"/>
		<result property="ypoint" column="ypoint"/>
		<result property="gender" column="gender"/>
		<result property="email" column="email"/>
		<result property="regDate" column="regdate"/>
		<result property="myPoint" column="myPoint"/>
	</resultMap>
	
	<resultMap type="BookingOk" id="BookingOkResultMap">
		<id property="bookingOkNo" column="bookingok_no"/>
		<result property="bookingOkCount" column="bookingok_count"/>
		<result property="bookingOkRequest" column="bookingok_request"/>
		<result property="bookingOkTime" column="bookingok_time"/>
		<result property="bookingOkState" column="bookingok_state"/>
		<result property="bookingNo" column="booking_no"/>
		<result property="businessId" column="business_id"/>
	</resultMap>
	
	<resultMap type="Review" id="ReviewResultMap">
		<id property="reviewNo" column="review_no"/>
		<result property="reviewContent" column="review_content"/>
		<result property="reviewPicture" column="review_picture"/>
		<result property="reviewScore" column="review_score"/>
		<result property="regDate" column="regdate"/>
		<result property="reviewBlind" column="review_blind"/>
		<result property="reviewDelete" column="review_delete"/>
		<result property="normalId" column="normal_id"/>
		<result property="businessId" column="business_id"/>
		<result property="bookingOkNo" column="bookingok_no"/>
	</resultMap>
	

	
</mapper>