<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nosolorice.app.mappers.sehwa" >
	<select id="getBusinessUserInfo" resultType="BusinessUser">
		SELECT
			business_id AS businessId,
			pass,
			name,
			phone,
			business_number AS businessNumber,
			business_name AS businessName,
			business_picture AS businessPicture,
			email,
			mobile,
			postNum,
			address1,
			address2,
			xpoint,
			ypoint,
			business_profile AS businessProfile,
			bank_name AS bankName,
			bank_number AS bankNumber,
			deposit,
			open_time AS openTime,
			close_time AS closeTime,
			break_time AS breakTime,
			day_off AS dayOff,
			introduction,
			regDate,
			store_onoff AS storeOnoff
		FROM
			business_user
		WHERE business_id = #{id}
	</select>




</mapper>