<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nosolorice.app.mapper.AdminMapper" >

	<select id="getJoinApproveList" resultType="JoinApprove">
		SELECT j.join_approve_no joinApproveNo, b.name name, b.business_name businessName, b.business_picture businessPicture, b.regdate regDate, b.business_number businessNumber, b.address1 address1, b.address2 address2, b.mobile mobile, b.phone phone, b.email email FROM join_approve j JOIN business_user b ON j.business_id = b.business_id order by join_approve_no asc LIMIT #{start}, #{pageSize}
	</select>
	
	<select id="getJoinApproveListCount" resultType="int">
		select count(join_approve_no) from join_approve
	</select>
	
	<update id="updateJoinApprove">
		update business_user set ok_nook = 1 where business_number = #{businessNumber}
	</update>
	
	<delete id="deleteJoinApprove">
		delete from join_approve where join_approve_no = #{no}
	</delete>
	
	<select id="getDailySalesList" resultType="BookingOk">
		SELECT bo.bookingok_no AS bookingOkNo, bo.booking_no AS bookingNo, DATE(bo.bookingok_time) AS bookingOkTime, bu.business_name businessName, ROUND(bo.deposit/10) AS deposit FROM bookingok bo JOIN business_user bu ON bo.business_id = bu.business_id ORDER BY bo.bookingok_no DESC LIMIT #{start}, #{pageSize}
	</select>
	
	<select id="getMonthlySalesList" resultType="BookingOkMonth">
		SELECT DATE_FORMAT(bookingok_time, '%Y년 %m월') AS month, COUNT(*) AS count, SUM(deposit * bookingok_count) AS deposit FROM bookingok GROUP BY month ORDER BY month DESC LIMIT #{start}, #{pageSize}
	</select>
	
	<select id="getDailySalesListCount" resultType="int">
		select count(bookingok_no) from bookingok order by bookingok_no desc;
	</select>
	
	<select id="getMonthlySalesListCount" resultType="int">
		select count(*) from (SELECT DATE_FORMAT(bookingok_time, '%Y년 %m월') AS month, COUNT(*) AS count, SUM(deposit) AS deposit FROM bookingok GROUP BY month ORDER BY month DESC) a
	</select>
	
</mapper>