<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nosolorice.app.mapper.MenuMapper" >

<insert id="Menuadds" parameterType="Menu">
    INSERT INTO menu
    (menu_name, menu_price, menu_info, menu_origin, menu_picture, menu_category_no)
    VALUES (
        #{menuName},
        #{menuPrice},
        #{menuInfo},
        #{menuOrigin},
        COALESCE(#{menuPicture},null),
        #{menuCategoryNo}
    )
</insert>

<delete id="MenuDelete" parameterType="int">
DELETE FROM menu
WHERE menu_no = #{menuNo}
</delete>

<select id="getMenu" resultType="String">
select
menu_picture
from menu
where menu_no = #{menuNo}
</select>

<select id="getMenuajax" resultType="Menu">
select
menu_no menuNo,
menu_name menuName,
menu_price menuPrice,
menu_info menuInfo,
menu_origin menuOrigin,
menu_picture menuPicture,
menu_category_no menuCategoryNo
from menu
where menu_no = #{menuNo}
</select>

<update id="MenuUpdate" parameterType="Menu">
UPDATE menu
SET menu_name = #{menuName},
    menu_price = #{menuPrice},
    menu_info =  #{menuInfo},
    menu_origin = #{menuOrigin},
    menu_picture = COALESCE(#{menuPicture},null),
    menu_category_no = #{menuCategoryNo}
WHERE menu_no = #{menuNo}
</update>
</mapper>	



