<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nosolorice.app.mapper.MenuCateMapper" >

<insert id="MenuCateadd" parameterType="Map">
INSERT INTO menu_category (business_id, menu_category_name) VALUES (#{businessId},#{menuCateName})
</insert>

<select id="MenuCateList" parameterType="String" resultType="MenuCategory">
select 
menu_category_no as menuCategoryNo,
menu_category_name as menuCategoryName
from menu_category
where business_id = #{businessId}
</select>


<delete id="MenuCateDelete" parameterType="Map">
DELETE FROM menu_category
WHERE business_id = #{businessId} and  menu_category_no = #{menuCategoryNo}
</delete>

<select id="NoMenuList" parameterType="int" resultType="hashmap">
SELECT
    m.menu_no menuNo,
    m.menu_name menuName,
    m.menu_price menuPrice,
    m.menu_info menuInfo,
    m.menu_origin menuOrigin,
    m.menu_picture menuPicture,
    m.menu_category_no menuCategory,
    mc.menu_category_name menuCateGoryName
FROM
    menu m
JOIN
    menu_category mc ON m.menu_category_no = mc.menu_category_no
WHERE
    m.menu_category_no = #{intmenuCategoryNo}
</select>


<select id="AllMenuList" resultType="hashmap">
SELECT
    m.menu_no menuNo,
    m.menu_name menuName,
    m.menu_price menuPrice,
    m.menu_info menuInfo,
    m.menu_origin menuOrigin,
    m.menu_picture menuPicture,
    m.menu_category_no menuCategory
FROM
    menu m
JOIN
    menu_category mc ON m.menu_category_no = mc.menu_category_no
WHERE
    mc.business_id = #{businessId}
</select>
 
<select id="MenuCateName" parameterType="int" resultType="String">
select
menu_category_name
from menu_category
where menu_category_no = #{menuCategoryNo}
</select>

</mapper>	



