<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	
<mapper namespace="com.nosolorice.app.mapper.NoticeMapper">
	
	<select id="noticeList" resultType="Notice" resultMap="noticeResultMap">
	
		SELECT * FROM notice ORDER BY notice_no DESC
	
	</select>
	
	<select id="noticeDetail" resultType="Notice" resultMap="noticeResultMap">
	
		SELECT * FROM notice WHERE notice_no = #{noticeNo}
		
	</select>
	
	<insert id="noticeWrite" parameterType="Notice">
    <choose>
        <when test="noticeType == 'normal'">
            INSERT INTO notice VALUES(null,#{noticeTitle},#{noticeContent},SYSDATE())
        </when>
        <when test="noticeType == 'business'">
            INSERT INTO business_notice VALUES(null,#{noticeTitle}, #{noticeContent},SYSDATE())
        </when>
    </choose>
</insert>
	
	
	<update id="noticeUpdate" parameterType="Notice">
	
    UPDATE notice SET notice_title = #{noticeTitle}, notice_content = #{noticeContent}, notice_regdate = SYSDATE()
    WHERE notice_no = #{noticeNo}

	</update>
	
	
	<delete id="noticeDelete">
	
		DELETE FROM notice WHERE notice_no = #{noticeNo}
		
	</delete>
	
	
	
	
	
	
	
	<resultMap id="noticeResultMap" type="Notice">
		<id property="noticeNo" column="notice_no"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeRegDate" column="notice_regdate"/>
		
	</resultMap>
	
	<resultMap id="BusinessResultMap" type="BusinessNotice">
	
		<id property="businessNoticeNo" column="business_notice_no"/>
		<result property="businessNoticeTitle" column="business_notice_title"/>
		<result property="businessNoticeContent" column="business_notice_content"/>
		<result property="businessNoticeRegDate" column="business_notice_regdate"/>
	
	</resultMap>
	

</mapper>