<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.nosolorice.app.mapper.UserPageMapper">
	 	<!-- 한선  -->
	 	
	 	<!-- 신고 내역 리스트 -->
		<select id="userReportList" resultType="ReportDetails" parameterType="hashmap" resultMap="reportResultMap">
		
		 SELECT r.*,d.denied_unlock as deniedUnlock,d.denied_regdate as deniedRegDate FROM report_details r join denied_user d on r.report_attacker = d.normal_id WHERE r.report_reporter = #{reporter} LIMIT #{start}, #{num}
		
		</select>
		
		<select id="getReportCount" resultType="int">
	
		
		SELECT COUNT(report_no) FROM report_details
		
		</select>
		
			<!-- 차단 목록 리스트 -->
		<select id="blockList" resultType="BlockHistory"  parameterType="hashmap" resultMap="blockResultMap">
			
		SELECT * FROM block_history WHERE blocker = #{blocker} ORDER BY block_history_no LIMIT #{start}, #{num}
		
		</select>
		
		<select id="getBlockCount" resultType="int">

		 
		 SELECT COUNT(block_history_no) FROM block_history
		 
		
		</select>
		
		<delete id="blockUnlock" parameterType="int">
		
		DELETE FROM block_history WHERE block_history_no = #{blockHistoryNo}
		
		</delete>
		
		
		<!-- 신고 내역 -->
		<resultMap id="reportResultMap" type="ReportDetails">
		<id property="reportNo" column="report_no"/>
		<result property="reportContent" column="report_content"/>
		<result property="reportPicture" column="report_picture"/>
		<result property="reportReporter" column="report_reporter"/>
		<result property="reportAttacker" column="report_attacker"/>
		<result property="reportRegDate" column="report_regdate"/>
	</resultMap>
		
		
	
		<!-- 차단 내역 -->
		<resultMap id="blockResultMap" type="BlockHistory">
			<id property="blockHistoryNo" column="block_history_no"/>
			<result property="blockDate" column="block_date"/>
			<result property="blockState" column="block_state"/>
			<result property="blocker" column="blocker"/>
			<result property="blockAttacker" column="block_attacker"/>
		</resultMap>
		
		
	
	</mapper>